## Load the Dataset

In [4]:
import pandas as pd

# Path to your uploaded dataset (adjust if needed)
data_path = "train.csv"

# Load the dataset
train_df = pd.read_csv(data_path)

# Display basic info
print("Shape of dataset:", train_df.shape)
display(train_df.head())

# Quick overview
train_df.info()
train_df.describe().T

Shape of dataset: (593994, 13)

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593994 entries, 0 to 593993
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    593994 non-null  int64
 1   annual_income         593994 non-null  float64
 2   debt_to_income_ratio  593994 non-null  float64
 3   credit_score          593994 non-null  int64
 4   loan_amount           593994 non-null  float64
 5   interest_rate         593994 non-null  float64
 6   gender                593994 non-null  object
 7   marital_status        593994 non-null  object
 8   education_level       593994 non-null  object
 9   employment_status     593994 non-null  object
 10  loan_purpose          593994 non-null  object
 11  grade_subgrade        593994 non-null  object
 12  loan_paid_back        593994 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 58.9+ MB

,count,mean,std,min,25%,50%,75%,max
id,593994.0,296996.500000,171471.442235,0.000,148498.250,296996.500,445494.750,593993.000
annual_income,593994.0,48212.202976,26711.942078,6002.430,27934.400,46557.680,60981.320,393381.740
debt_to_income_ratio,593994.0,0.120696,0.068573,0.011,0.072,0.096,0.156,0.627
credit_score,593994.0,680.916009,55.424956,395.000,646.000,682.000,719.000,849.000
loan_amount,593994.0,15020.297629,6926.530568,500.090,10279.620,15000.220,18858.580,48959.950
interest_rate,593994.0,12.356345,2.008959,3.200,10.990,12.370,13.680,20.990
loan_paid_back,593994.0,0.798820,0.400883,0.000,1.000,1.000,1.000,1.000

## We encode the categorical variables and scale the numerical variables

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Drop ID (not useful for modeling)
df = train_df.drop(columns=['id'])

# Separate features and target
X = df.drop(columns=['loan_paid_back'])
y = df['loan_paid_back']

# Label encode categorical features
cat_cols = X.select_dtypes('object').columns
le = LabelEncoder()
for col in cat_cols:
    X[col] = le.fit_transform(X[col])

# Scale numeric features
num_cols = X.select_dtypes(['float64', 'int64']).columns
scaler = StandardScaler()
X[num_cols] = scaler.fit_transform(X[num_cols])

X.head()

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,-0.705461,-0.535135,0.993849,-1.803484,0.653899,-0.958050,0.900189,0.173271,0.986646,2.046515,-0.384653
1,-0.977248,0.660668,-0.810394,-1.505401,0.280571,0.993869,-0.806706,1.201576,-0.514456,-0.368235,0.592762
2,0.050689,-0.345556,0.236067,0.286558,-1.292385,0.993869,0.900189,0.173271,-0.514456,-0.368235,0.006313
3,-0.050687,-0.812211,-2.668764,-1.492497,1.863482,-0.958050,0.900189,0.173271,-0.514456,-0.368235,2.156626
4,-0.850388,-0.987206,-0.287163,-0.409421,-1.068388,0.993869,-0.806706,0.173271,-0.514456,2.046515,0.201796

## Test Train Split

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)